/*====================================================
font
====================================================*/
@mixin font-face($family, $file, $weight, $format) {
    @font-face {
      font-family: $family;
      src: url('../fonts/#{$file}.ttf') format('truetype'),
           url('../fonts/#{$file}.otf') format($format);
      font-weight: $weight;
      font-style: normal;
    }
}

// PingFang Font Faces
@include font-face('PingFangSC', 'PingFang-Fonts-master/PingFang ExtraLight', 200, 'opentype');
@include font-face('PingFangSC', 'PingFang-Fonts-master/PingFang Light', 300, 'opentype');
@include font-face('PingFangSC', 'PingFang-Fonts-master/PingFang Regular', 400, 'opentype');
@include font-face('PingFangSC', 'PingFang-Fonts-master/PingFang Medium', 500, 'opentype');
@include font-face('PingFangSC', 'PingFang-Fonts-master/PingFang Bold', 700, 'opentype');
@include font-face('PingFangSC', 'PingFang-Fonts-master/PingFang Heavy', 900, 'opentype');
@mixin fontPingFang {
    font-family: 'PingFangSC', Arial, sans-serif;
}

// Helvetica Neue Font Face
@include font-face('Helvetica Neue', 'helvetica-neue-5/HelveticaNeueMedium', 400, 'opentype');
@mixin fontHelveticaNeue {
    font-family: 'Times', Arial, sans-serif;
}

// Times Font Face
@include font-face('Times', 'times/TimesLTStd-Roman', 400, 'opentype');
@mixin fontTimes {
    font-family: 'Times', Arial, sans-serif;
}

/*====================================================
Breakpoints
====================================================*/
@mixin xs {
    @media screen and (max-width: 374.98px) {
        @content;
    }
}
@mixin sm {
    @media screen and (max-width: 575.98px) {
        @content;
    }
}
@mixin md {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}
@mixin lg {
    @media screen and (max-width: 991.98px) {
        @content;
    }
}
@mixin xl {
    @media screen and (max-width: 1199.98px) {
        @content;
    }
}
@mixin xxl {
    @media screen and (max-width: 1399.98px) {
        @content;
    }
}

/*====================================================
Placeholder(佔位符)
====================================================*/
@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
}