.topPracticeNav{
    margin-top: -10rem;
    @include md{
        margin-top: 0;
    }
    li{
        a{
            .img{
                img{
                    filter: blur(4px);
                }
                @include md{
                    padding-top: 140%;
                }
            }
            &:before{
                content: "";
                position: absolute;
                display: inline-block;
                background-color: $black;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0.8;
                transition: 0.7s;
            }
            &:hover{
                &:before{
                    opacity: 0.95;
                }
            }
        }
        &.yellow{
            a{
                &:before{
                    background-color: $warning;
                }
            }
        }
    }
}


.topBg{
    background-color: $light;
    position: relative;
    z-index: 0;
    &:before,&:after{
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 8rem;
        background-color: $white;
        left: 0;
        z-index: -1;
    }
    &:before{
        top: 0;
    }
    &:after{
        bottom: 0;
    }
    .textImg{
        img{
            max-width: 12rem;
            width: 100%;
            height: auto;
            @include xl{
                max-width: 38rem;
            }
        }
    }
    .vertical{
        line-height: 2.5em;
    }
    
    @include xl{
        background-color: inherit;
        &:before,&:after{
            display: none;
        }
        .imageTrimmingSquare{
            padding-top: 70%;
        }
        .vertical{
            writing-mode:inherit;
            line-height: 1.5;
        }
    }
}