/*====================================================
Placeholder(佔位符)
====================================================*/
%setForm{
    margin: 0;
    padding: 8px !important;
    width: 100%;
    background: $light;
    background-color: $light!important;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.6rem!important;
    color: $black;
    min-height: 56px;
    border-color: $black;
    @include fontPingFang;
    border-radius: 0!important;
}

/*====================================================
表單form
====================================================*/
form{
    label{
        font-size: 1.6rem;
    }
    input{
        &[type="text"],
        &[type="email"],
        &[type="password"],
        &[type="tel"]{
            @extend %setForm;
            &::placeholder {
                color: $dark !important;
            }
            &:focus{
                border-color: $black;
                color: $black;
                background-color: $light;
                box-shadow: 0 0 2px 2px $light;
            }
            &:-webkit-autofill{
                box-shadow: 0 0 0 1000px $dark inset;
                -webkit-text-fill-color: $black !important;
            }
        }
        &[type="checkbox"],
        &[type="radio"] {
            width: 2rem;
            height: 2rem;
            border: 1px solid $black;
            background-color: $light;
            border-radius: 0 !important;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:checked {
                background-color: $light;
                border: 1px solid $black;
                position: relative;
                &:before,&:after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    background-color: $black;
                }
                &:before {
                    width: 8px;
                    height: 3px;
                    top: 9px;
                    left: 1px;
                    transform: rotate(45deg);
                }
                &:after {
                    width: 14px;
                    height: 3px;
                    top: 7px;
                    left: 4px;
                    transform: rotate(-45deg);
                }
            }
            &:focus{
                border-color: $black;
                color: $black;
                background-color: $light;
                box-shadow: 0 0 2px 2px $light;
            }
        }
    }
    .form-select{
        @extend %setForm;
        &::placeholder {
            color: $dark !important;
        }
        &:focus{
            border-color: $black;
            color: $black;
            background-color: $light;
            box-shadow: 0 0 2px 2px $black;
        }
        &:-webkit-autofill{
            box-shadow: 0 0 0 1000px $dark inset;
            -webkit-text-fill-color: $black !important;
        }
        option{
            background-color: $white;
            color: $black;
        }
    }
    // Icon
    .labelIconLeft,.labelIconRight{
        position: relative;
        z-index: 0;
        i{
            position: absolute;
            top: 1.9rem;
            font-size: 2rem;
            z-index: 1;
        }
    }
    .labelIconLeft{
        input{
            padding-left: 4.5rem!important;
        }
        i{
            left: 1.5rem;
        }
    }
    .labelIconRight{
        input{
            padding-right: 4.5rem!important;
        }
        i{
            right: 1.5rem;
        }
    }
    .selectIcon{
        position: relative;
        z-index: 0;
        &:before,&:after{
            font-family: "Font Awesome 6 Free";
            position: absolute;
            display: inline-block;
            right: 2rem;
            z-index: 1;
            color: $black;
            font-weight: bold;
            font-size: 1.6rem;
        }
        &:before{
            content: "\f0d8";
            top: 1.2rem;
        }
        &:after{
            content: "\f0dd";
            bottom: 1.2rem;
        }
    }
}