%setForm{
    margin: 0;
    padding: 8px !important;
    width: 100%;
    background: $light;
    background-color: $light!important;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.6rem!important;
    color: $black;
    min-height: 56px;
    border-color: $black;
    @include fontPingFang;
    border-radius: 0!important;
}

form{
    label{
        font-size: 1.6rem;
    }
    input{
        &[type="text"],
        &[type="password"],
        &[type="checkbox"],
        &[type="tel"]{
            @extend %setForm;
            &::placeholder {
                color: $dark !important;
            }
            &:focus{
                border-color: $black;
                color: $black;
                background-color: $light;
                box-shadow: 0 0 2px 2px $black;
            }
            &:-webkit-autofill{
                box-shadow: 0 0 0 1000px $dark inset;
                -webkit-text-fill-color: $black !important;
            }
        }
        &[type="checkbox"] {
            appearance: revert;
            min-height: initial;
            width: 2rem;
            height: 2rem;
        }
    }
    .form-select{
        @extend %setForm;
        &::placeholder {
            color: $dark !important;
        }
        &:focus{
            border-color: $black;
            color: $black;
            background-color: $light;
            box-shadow: 0 0 2px 2px $black;
        }
        &:-webkit-autofill{
            box-shadow: 0 0 0 1000px $dark inset;
            -webkit-text-fill-color: $black !important;
        }
        option{
            background-color: $white;
            color: $black;
        }
    }
    .labelIcon{
        position: relative;
        z-index: 0;
        label{
            position: absolute;
            top: 1.3rem;
            left: 1.5rem;
            z-index: 1;
            font-size: 2rem;
        }
        input{
            padding-left: 5rem!important;
        }
    }
    .selectIcon{
        position: relative;
        z-index: 0;
        &:before,&:after{
            font-family: "Font Awesome 6 Free";
            position: absolute;
            display: inline-block;
            right: 2rem;
            z-index: 1;
            color: $black;
            font-weight: bold;
            font-size: 1.6rem;
        }
        &:before{
            content: "\f0d8";
            top: 1.2rem;
        }
        &:after{
            content: "\f0dd";
            bottom: 1.2rem;
        }
    }
    .cardNumber{
        position: relative;
        z-index: 0;
        &:after{
            font-family: "Font Awesome 6 Free";
            content: "\f09d";
            position: absolute;
            display: inline-block;
            bottom: 1.4rem;
            right: 1rem;
            z-index: 1;
            color: $black;
            font-size: 2rem;
        }
    }
}